.card-container {
    display: flex;
    justify-content: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 15px;
    text-align: center;
    background-color: #757575;
    border-radius: 5px;
}

.card-details {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 8px 0px;
}

.card-details h2{
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.pokemon-name{
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 15px;
}

.pokemon-type-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemon-type-container span{
    padding: 1px;
    border-radius: 4px;
    color: white;
    width: 40%;
    margin: 0px 5px 0px 5px;
    font-size: 14px;
}

@media screen and (min-width: 414px) and (max-width: 499px) {
    .card {
        padding: 5px;
        padding-bottom: 10px;
    } 

    .pokemon-image{
        width: 180px;
        height: 180px;
    }

    .pokemon-image {
        size: 180px;
        width: 180px;
    }
  }