.container{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 60px auto 70px;
    row-gap: 0;
  }

  footer{
    grid-row: 3;
    background-color: #424242;
 }

 header{
    grid-row: 1;  
    background-color: #424242;
 }

 header div {
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
 }

 #header-title{
    text-align: center;
    font-size: 30px;
    margin: 0px;
    color: white;
} 

 #content{
    grid-row: 2;
    overflow-y: auto;
    display: inherit;
    justify-items: center;
    align-items: center;
    justify-content: center;
 }

 footer div{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 13px;
}