.loading, .error {
    font-size: 23px;
    color: #424242;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 30px;
    padding: 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 15px;
    } 
  }

@media screen and (min-width: 768px)  and (max-width: 1023px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 15px;
    } 
  }

  @media screen and (min-width: 500px) and (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 15px;
    } 
  }

  @media screen and (min-width: 414px) and (max-width: 550px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;
    } 

    .fixed-footer div {
        font-size: 12px;
        text-align: center;
    }
  }

  @media screen and (max-width: 413px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    } 

    .fixed-footer div {
        font-size: 12px;
        text-align: center;
    }
  }